{% extends 'base.html.twig' %}

{% block title %}profil de {{userInfo.username}}{% endblock %}

{% block body %}
	<div class="container">
		<h1>nom : {{userInfo.username}}</h1>
		<p>role : {{userInfo.role}}</p>
		<p>annonce : </p>

		<div class="grid">
			{% for article in articles %}
				<div class="card border-secondary mb-3" style="max-width: 20rem;">
					<div class="card-header">{{article.title}}</div>

					<div class="card-body">
						<p class="card-text">{{article.description|length > 20 ? article.description|slice(0, 20) ~ '...' : article.description }}</p>
						<p class="card-text"> prix : {{article.price}} $</p>
						<a href="{{path('ad', {'id_ad' : article.id})}}" class="card-link">voir l'annonce</a>
					</div>

					<div class="card-header">tag : {{article.CategoryID.CategoryName}}</div>

				</div>
			{% endfor %}
	</div>
		<p> note : {{userInfo.vote}}/5 </p>
	</div>
{% endblock %}
