{% extends "base.html.twig" %}
{% block title%}
    Accueil Extranet
{% endblock %}
{% block body%}

<div class="container_ads">
    {% for ad in ads %}
        <div class="card mb-3">
            <h3 class="card-header">{{ad.title}} par  {{ad.userID.username}}</h3>

            <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
            </svg>
            <div class="card-body">
                <p class="card-text">{{ad.description|length > 20 ? ad.description|slice(0, 20) ~ '...' : ad.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ad.CategoryID.CategoryName}}</li>
            </ul>
            <div class="card-body">
                <p href="#" class="card-link">prix : {{ad.price}} $</p>
                <a href="{{ path('ad', {'id_ad' : ad.id}) }}" class="card-link">voir l'annonce</a>
            </div>
            <div class="card-footer text-muted">
                {{ad.date | date('d/m/Y')}}
                à
                {{ad.date | date('H:i')}}
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
