{% extends 'base.html.twig' %}

{% block title %}annonce de {{ad.userID.username}}{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ad.title}}</h2>
        <h3>auteur : <a href="{{ path('userpage', {'id_user' : ad.userID.id}) }}" class="card-link">{{ad.userID.username}}</a></h3>
        <p>{{ad.description}}</p>


        {% for image in images %}
            <img src="{{ asset('image/' ~ id_ad ~ '/' ~ image ) }}" alt="" srcset="">
        {% endfor %}

        <p>prix : {{ad.price}} $</p>
        <button class="btn btn-lg btn-primary" type="button">acheter</button>

        <h4 class="mt-5">Commentaires : </h4>

        {% for comment in comments %}
            <div class="">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{comment.UserId.username}}</h5>
                    </div>
                    <div class="modal-body">
                        <p>{{comment.text}}</p>
                    </div>
                    <div class="modal-footer">
                        <p>{{comment.date | date('d/m/Y')}}
                            à
                            {{comment.date | date('H:i')}}
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="form-center">
            {{form_start(form)}}
            {{form_row(form.text, {'attr' : {"placeholder" : "votre commentaire"}})}}
            <button type="submit" class="btn btn-info">post ton commentaire</button>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}
